 <section class="slide {{colorScheme}}">
 	<div class="container">
    <section>
      <h2>{{title}}</h2>
      <h3 class="sub-title">{{subtitle}}</h3>

      {{content}}
      
	    {{#if timeline}}
	      {{>timeline timeline=timeline}}
	    {{/if}}

  </div>
</section>