<div class="timeline">
  <div class="spine"></div>

  {{#each timeline}}
    {{#if @first}}
      <div class="events-container">
    {{/if}}

    {{#ifCond @index timeline.length half=true}}
      </div>
      <div class="events-container">
    {{/ifCond}}

      <div class="event">
        <div class="event-img">
          <img src="{{imageUrl this.image}}" alt="comp matching">
        </div>
        <div class="description">
          <h4>{{this.title}}</h4>
          <p>{{this.description}}</p>
        </div>
      </div>

    {{#if @last}}
      </div>{{!--end event container--}}
    {{/if}}
  {{/each}}

</div>{{!-- end timeline--}}