<div class="timeline">
  <div class="spine"></div>

  <div class="events-container">
    <div class="event">
      <div class="event-img">
        <img src="{{imageUrl "chadder/comp-match.jpg"}}" alt="comp matching">
      </div>
      <div class="description">
        <h4>Comp Matching</h4>
        <p>I used Adobe Extract to quickly get critical information about colors, dimensions, etc.</p>
      </div>
    </div>
    <div class="event">
      <div class="event-img">
        <img src="{{imageUrl "chadder/overlay-small.jpg"}}" alt="modal view">
      </div>
      <div class="description">
        <h4>Modals</h4>
        <p>With the help of CSS animations and some jQuery, I created custom modals for non-critical information</p>
      </div>
    </div>
  </div>

  <div class="events-container">
    <div class="event">
      <div class="event-img">
        <img src="{{imageUrl "chadder/comp-small.jpg"}}" alt="px to rems">
      </div>
      <div class="description">
        <h4>PX to REMs</h4>
        <p>All pixel values were converted to rems by use of a sass function, from the Bourbon sass framework</p>
      </div>
    </div>
    <div class="event">
      <div class="event-img">
        <img src="{{imageUrl "chadder/mobile.jpg"}}" alt="mobile responsive">
      </div>
      <div class="description">
        <h4>Mobile Responsive</h4>
        <p>With the help of some media query adjustments, the mobile version came to life</p>
      </div>
    </div>
  </div>

</div>{{!-- end timeline--}}