<div class="timeline">
  <div class="spine"></div>

  {{#each timeline}}
      <div class="event">
        <div class="leg"></div>
        <div class="event-img">
          <img src="{{imageUrl this.image}}" alt="comp matching">
        </div>
        <div class="description">
          <h4>{{this.title}}</h4>
          <p>{{this.description}}</p>
        </div>
      </div>
  {{/each}}

</div>