.announcement {
  position: fixed;
  width: calc(100% - 5rem);
  z-index: 200;
  top: 0;
  left: rem(80);
  background-color: darken($blue, 20%);
  color: #fff;
  text-align: center;
  padding: rem(10) rem(10);
  a {
    font-weight: 700;
  }
  @include media($tablet) {
    left: 0;
    width: 100%;
  }
}
