html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  font-size: 16px;
  @include media(max-width $break-1) {
    font-size: 15px;
  }
}

body {
  font-family: "proxima-nova", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

p {
  @include media(max-width $break-1) {
    hyphens: auto;
  }
}

p,li {
  line-height: 1.8;
  font-size: rem(18);
}

a {
  text-decoration: none;
  color: $white;
  transition: opacity .2s linear;
}

main {
  padding-left: rem(80);
  @include media(max-width $break-1) {
    padding-left: 0;
  }
}

section {
  padding: 2rem;
}

h1 {
  font-size: rem(50);
}

h2 {
  font-size: rem(40);
  margin-top: 0;
  margin-bottom: rem(25);
  @include media(max-width $break-1) {
    font-size: rem(30);
  }
}

h3 {
  margin-bottom: rem(5);
  font-size: rem(16);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

#content {
  margin-bottom: rem(100);
}

%round {
  border-radius: 50%;
}

.avatar {
  @extend %round;
  width: rem(100);
  height: rem(100);
}

#top {
  background-color: #555;
  position: relative;
  height: 70vh;
  border-bottom: 1px solid #222;
  @include media(max-width $break-1) {
    height: 50vh;
    background-color: #000;
    background-position: center;
    border: 0;
  }
  .container {
    top: 45%;
    @include media(max-width $break-1) {
      top: 50%;
    }
  }
  &:before {
    content: '';
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    @include media(max-width $break-1) {
      display: block;
    }
  }
  &:after {
    content: '';
    width: 100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(to right, rgba(0,0,0,.8) 0%,rgba(0,0,0,.8) 20%, rgba(0,0,0,.6) 50%, rgba(0,0,0,0) 100%);
    @include media(max-width $break-1) {
      display: none;
    }
  }
  video {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    bottom: -5%;
    right: 0;
    z-index: 0;
    opacity: .9;
    background-color: #000;
    @include media(max-width $break-1) {
      display: none;
    }
  }
}

.red {
  color: #f13a21;
}

.main-title {
  margin-bottom: 0;
  padding-right: rem(15);
  @extend .animated;
  @extend .fadeInDown;
  animation-duration: .7s;
  @include media(max-width $break-1) {
    font-size: rem(30);
  }
}
.sub-title {
  padding-right: rem(15);
  font-weight: 300;
  @extend .animated;
  @extend .fadeInDown;
  animation-duration: .5s;
  animation-delay: .6s;
  @include media(max-width $break-1) {
    font-size: rem(25);
  }
}

.right-col {
  @include span-columns(4);
  @include shift(1);
  text-align: center;
  @include media($tablet) {
    @include span-columns(12);
  }
}

.left-col {
  @include span-columns(7);
  @include media($tablet) {
    @include span-columns(12);
  }
}

.half {
  @include span-columns(6);
  @include media($tablet) {
    @include span-columns(12);
  }
}

.image-container {
  max-height: 60vh;
  overflow: hidden;
  margin-bottom: rem(80);
}

hr {
  width: 30%;
  text-align: center;
  color: #ccc;
  margin: 0 auto;
  &.white {
    color: #ccc;
  }
}

.band {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: rem(22);
  font-style: italic;
  font-weight: 100;
}

.dark {
  background: #222;
  color: #FFF;
}

.social {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  li {
    display: inline-block;
  }
  img {
    width: 40px;
    height: 40px;
    transition: opacity .2s linear;
    margin: 0 5px;
    &:hover {
      opacity: .8;
    }
  }
}


/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll #navigation,
.infinite-scroll.neverending #footer {
    display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
    display: block;
}
