.timeline {
  position: relative;
  margin-top: rem(250);
  margin-bottom: 0;
  @include clearfix();
   @include media($tablet) {
    margin-top: rem(100);
  }
}

.spine {
  height: 150%;
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  margin-top: rem(-50);
  background-color: rgba(0,0,0,.2);
  &:before {
    content: '';
    width: rem(15);
    height: rem(15);
    border-radius: 50%;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: rem(-7);
    left: rem(-7);
  }
}


.event {
  margin-left: auto;
  margin-right: auto;
  height: rem(300);
  width: 40%;
  margin-top: rem(-110);
  border: 1px solid #aaa;
  border-radius: 6px;
  position: relative;
  .leg {
    width: 25%;
    position: absolute;
    top: 30%;
    right: -25%;
    height: 1px;
    background-color: rgba(0,0,0,.2);
    &:after {
      content: '';
      width: rem(10);
      height: rem(10);
      border-radius: 50%;
      background-color: rgba(0,0,0,.4);
      position: absolute;
      top: rem(-5);
      left: rem(-7);
    }
    @include media($tablet) {
      display: none;
    }
  }
  &:nth-child(2n+1) {
    left: 30%;
    .leg {
      left: -25%;
    }
    @include media($tablet) {
      left: 0;
      margin-top: rem(60);
      width: 65%;
    }
  }
  &:nth-child(2n) {
    left: -30%;
    .leg:after {
      right: rem(-7);
      left: auto;
    }
    @include media($tablet) {
      left: 0;
      margin-top: rem(60);
      width: 65%;
    }
  }
  &-img {
    height: 100%;
    overflow: hidden;
    border-radius: 6px;
    position: relative;
  }
  img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .description {
    position: absolute;
    bottom: 0;
    padding: rem(15);
    background-color: #efefef;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100%;
    h4 {
      margin: 0;
      font-weight: 500;
    }
    p {
      font-style: italic;
      font-size: rem(13);
      margin: 0;
      padding-top: rem(5) !important;
      line-height: 1.4;
    }
  }
}
