.logo {
  max-width: rem(300);
  min-width: rem(80);
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: rem(30);
}

.half {
  margin-top: rem(60);
  margin-bottom: rem(60);
}

.last {  // final thoughts
  h2 {
    margin-bottom: rem(30);
  }
  p {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.clock {
  height: rem(15);
  top: 2px;
  margin-right: 5px;
  position: relative;
  opacity: .8;
}

.header-image {
  height: 30vh;
  background-color: #aaa;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  &.chadder {
    background-image: url('../img/mockups/chadder1.jpg');
  }
  &.particle {
    background-image: url('../img/mockups/particle.png');
  }
  &.ntlb {
    background-image: url('../img/mockups/ntlb1.jpg');
    background-position: center 170%;
  }
  &.video {
    background-image: url('../img/mockups/vid-reel1.jpg');
  }
}

// work page specific styles
.work {
  .main-title, .sub-title {
    text-align: center;
  }

  .sub-title {
    font-size: rem(20);
    margin-bottom: rem(80);
  }

  h2 {
    text-align: center;
  }

  h2,h1,h3 {
    color: #333;
  }

  h1 {
    margin-top: 0;
  }
  .right-col {
    @include span-columns(4);
    @include shift(1);
    text-align: center;
    padding-top: rem(40);
    .button {
      margin: rem(10) rem(10);
      width: rem(140);
      &:hover {
        background-color: #333;
        color: #FFF;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .slide {
    overflow: hidden;
    height: auto;
    text-shadow: none;
    padding-top: rem(80);
    padding-bottom: rem(80);
    &:first-child {  // add a shadow over header backgroundpic
      box-shadow: 0 0 25px 0px rgba(0,0,0,.5);
    }
    p, .button {
      text-shadow: none;
    }

    h3:not(.sub-title) {
      font-weight: 700;
    }
    .sub-title {
      margin-bottom: rem(30);
      &:not(.first) {
        animation: none;
      }
      &.first {
        margin-bottom: rem(60);
      }
    }
    &:after {
      display: none; // kill the overlay
    }
    .container { // no  vertical centering
      position: static;
      text-shadow: none;
      transform: none;
      padding-left: 0;
    }
    section {
      @include clearfix();
    }
  }
}


.ntlb {
  .logo {
    margin-top: 0;
    margin-bottom: 0;
    width: 70%;
    padding: rem(20);
    background-color: #333;
  }
}
