<main class="single-post">
	<header class="blog-header">
	  <div class="container">
	    <h3 class="date">{{formatDate date}}</h3>
	    <h1>{{title}}</h1>
	  </div>
	</header>
	<div class="container">	
		{{!-- TO DO: Add Disqus and share buttons --}}
		{{{content}}}
	</div>
</main>
