// Animations - stores keyframes and animation classes


@-moz-keyframes fade-out {
  0%  { opacity: 1;}
  100%    { opacity: 0; }
}

@-webkit-keyframes fade-out {
  0%  { opacity: 1;}
  100%    { opacity: 0; }
}

@keyframes fade-out {
  0%  { opacity: 1;}
  100%    { opacity: 0; }
}

@-moz-keyframes fade-in {
  0%  { opacity: 0;}
  100%    { opacity: 1; }
}

@-webkit-keyframes fade-in {
  0%  { opacity: 0;}
  100%    { opacity: 1; }
}

@keyframes fade-in {
  0%  { opacity: 0;}
  100%    { opacity: 1; }
}

.fade-out {
  -webkit-animation-name: fade-out;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-out;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.fade-in {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}


.fade-in-zoom {
  -webkit-animation-name: fade-in-zoom;
  -webkit-animation-duration: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-name: fade-in-zoom;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}