// Button Styles

.button {
  padding: 15px 0;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .4rem;
  font-weight: 100;
  cursor: pointer;
  background-color: rgba(0,0,0, .3);
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: .6;
  transition: all .2s linear;
  &:hover {
    opacity: 1;
  }
  &--intro {
    @extend .button;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-100px);
    z-index: 20;
  }
}

button {
  @extend .button;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
  font-size: .8rem;
  margin-right: 20px;
  width: 130px;
  outline: none;
}
.video-controls {
  display: flex;
  input[type='range'] {
    margin-left: -100px;
    margin-top: 34px;
    -webkit-appearance: none;
    appearance: none;
    opacity: .7;
    height: 1px;
    outline: none;
  }
  span {
    padding-top: 9px;
    font-size: .8rem;
    text-transform: uppercase;
    width: 100px;
    opacity: .7;
    letter-spacing: .4rem;
  }
}


.view-all {
  @extend .button;
  position: fixed;
  z-index: 100;
  bottom: 30px;
  right: 30px;
  width: 150px;
  height: 75px;
  font-size: .7rem;
  border: 1px solid #fff;
  line-height: 1.2rem;
  cursor: pointer;
}