// Styles the slide navigation

.slide-container {
  list-style-type: none;
  opacity: .6;
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-90px);
  margin: 0;
  padding: 0;
  transition: all .3s ease-out;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: .4rem;
}

.slide {
  width: 275px;
  height: 175px;
  border: 2px solid #FFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: .6;
  cursor: pointer;
  margin-left: -2px;    // offset adjacent borders
  transition: all .3s ease-out;
  z-index: 80;
  &:hover {
    opacity: 1;
  }
}